# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Nael\Documents\Travail\OpenclassroomDevSafesforce\Projets\P5_Ravizé_Aymeric\git\parkingsystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
